body{
  overflow-x: hidden;
}

.job-content{
    height: 100vh;
    width: 100vw;
    display: flex;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
}
.profile{
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    background-size: cover;
    border-radius: 20px;
    width: 80%;
    margin: 30px;
    min-height:170px ;
    padding: 10px;
}

.profile h3{
    color: blueviolet;
    margin-bottom: 5px;
}

.profile p{
    color:black;
}

.profile-pic{
    width: 50px;
    border-radius: 50%;
    margin-bottom: 5px;

}
.side-bar{
    width:30% ;
}
.employment-box {
  color: white;
  padding: 20px;
  width: 240px;
  margin-left: 20px;
}

.employment-box h4 {
  margin-bottom: 16px;
  font-weight: normal;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  margin-left: 40px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 2px solid white;

  margin-right: 12px;
  cursor: pointer;
}

.salary-box {

  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 240px;
  margin-left: 20px;

}

.salary-box h4 {
  margin-bottom: 16px;
  font-weight: normal;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  margin-left: 40px;
}

.radio-label input[type="radio"] {

  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 12px;
  cursor: pointer;
}

hr{
    width: 90%;
    margin-left: 10px;
}

.searchbar{
    display: flex;
    height: 40px;
    margin: 20px;
}

button{
    width: 80px;
    color: white;
    background-color: black;
    font-size:15px ;
    border-radius: 0px;
    align-self: center;
    height: 30px;
    text-align: center;
    border-color: white;
    
    
}
input[type="search"]{
    width: 40%;
    align-self:center;
    
    
}

.job-list{
  height: 100vh;

  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
}
.no-jobs{
  width: 100%;
}

.not-found-img{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.clear-btn-container {
  margin-top: 16px;
  text-align: center;
}

.clear-btn {
  background-color: #ff5e5e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: auto;
  height: auto;
}

.clear-btn:hover {
  background-color: #ff3b3b;
}

.search-bar{
  border: none;
  padding: 20px;
  border-radius: 30px;

}



.search-buton{
  border: none;
  height: auto;
  border-radius: 50px;
  width: auto;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
}

.loader{
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;

}